<ion-header>
    <ion-navbar>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content ng-model="chatContent">
    <div class="message-wrap">
        <div *ngFor="let chatMessage of chatMessages | async" class="message" [class.left]=" chatMessage.sender != displayName" [class.right]=" chatMessage.sender == displayName">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{chatMessage.sender}}&nbsp;&nbsp;&nbsp;{{chatMessage.time}}</p>
                </div>
                <div class="msg-content" *ngIf="chatMessage.message">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{chatMessage.message}}</p>
                </div>
                <div class="msg-content" *ngIf="chatMessage.photo">
                    <span class="triangle"></span>
                    <!--{{chatMessage.photo}}-->
                    <img src="data:image/png;base64,{{chatMessage.photo}}" style="max-width: 320px; height: auto;" />
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <ion-grid class="input-wrap">
        <ion-item>
            <ion-input [(ngModel)]="chatMessage"></ion-input>

            <button ion-button id="sendButton" on-click="sendMessage()" item-right>📤</button>
            <button ion-button id="sendPhoto" on-click="sendPhoto()" item-right>📷</button>
        </ion-item>
    </ion-grid>
</ion-footer>